@model IEnumerable<RoleViewModel>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-success my-3" asp-controller="Roles" asp-action="Create">Add New Role</a>

<br />
<h1>All Roles</h1>
<br />

<div class="m-4">
	<form asp-action="Index" class="row offset-2" method="get">
		<div class="col-8">
			<input class="form-control" type="text" name="RoleSearchName" placeholder="Role's Name" />
		</div>
		<div class="col-4">
			<input type="submit" class="btn btn-info" value="Search" />

		</div>
	</form>

</div>


@if (Model.Any())
{
	<table class="table table-striped table-hover mt-3">
		<thead class="text-center">
			<tr>
				<th>@Html.DisplayNameFor(r => r.Id)</th>
				<th>@Html.DisplayNameFor(r => r.RoleName)</th>
				<th>Details</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody class="text-center mt-3">
			@foreach (var role in Model)
			{
				<tr>
					<td>@role.Id</td>
					<td>@role.RoleName</td>
					<td>
						<a asp-action="Details" asp-route-id="@role.Id">
							<i class="fa-solid fa-eye" style="color: #5a9fd3;"></i>
						</a>
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@role.Id">
							<i class="fa-solid fa-pen-to-square" style="color: #FFD43B;"></i>
						</a>
					</td>
					<td>
						<a asp-action="Delete" asp-route-id="@role.Id">
							<i class="fa-solid fa-trash" style="color: #ff0000;"></i>
						</a>
					</td>

				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="alert alert-info mt-3">
		<h2>No Roles Found !!</h2>
	</div>
}

